
p{margin: 0;}

::-webkit-scrollbar { width: 8px; } ::-webkit-scrollbar-track { background-color: #BFBFDA; border-radius: 100px; } ::-webkit-scrollbar-thumb { background-color: #6768A7; border-radius: 100px; }
.mx-table-date .today{
    color: #ff9f32!important;
}
.mx-calendar-content .cell.active{
    background-color: #6768A7!important;
}
.mx-calendar-content .hover-in-range {
    background-color: #cdceff56!important;
}
.mx-datepicker input:hover {
    border: 1px solid #8183d6;
}
html, body {
    width: 100%;
         height: 100%;
         margin: 0;
         padding: 0;
         overflow-y: hidden;
 }

table{border-collapse: collapse;}

select {cursor: pointer;}
div{ box-sizing: border-box;}
.commonInput{border: 1px solid #BFBFDA; height: 29px; border-radius: 5px; padding: 0 0.5rem; font-size: 14px; box-sizing: border-box;}
.commonInputIm{margin-left: 0.5rem; min-width: 100px!important; width: 100px!important; border: 1px solid #BFBFDA!important; height: 29px!important; border-radius: 5px!important; padding: 0 0.5rem!important; font-size: 14px!important; box-sizing: border-box;}
.overFlowYScroll{overflow-y: auto;}
* {font-family: noto-sans-cjk-kr, sans-serif;
    font-style: normal;}

.scrollArea{float: left; position: relative; border-left:1px solid #E1E1E1; height: 100%; padding: 1rem; width: calc(100% - 220px); padding-bottom: 2rem;}

.modalBack{position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: #00000014; z-index: 999;}
.popHeader{height: 40px; padding: 0.4rem 1rem; border-bottom: 2.7px solid #6768A7; font-size: 16px; line-height: 26px; color: #000000; font-weight: bold; text-align: left;}
.popHeader img{width: 1.7rem;}
.popFooter{width: 100%; height: 40px; padding: 0.5rem 1rem;  display: flex; justify-content: center;}
.popBody{width: 100%; height: calc(100% - 100px); padding: 0.5rem 1rem; overflow-y: auto;}
.commonPopCard{background: #FFFFFF; border-radius: 10px; left: 25%; top: 25%; position: absolute;}

.fl{float: left;}
.fr{float: right;}

.textLeft{text-align: left;}
.textRight{text-align: right;}
.textCenter{text-align: center;}

.cursorP{cursor: pointer;}

.w-10P{width: 10%;}
.w-20P{width: 20%;}
.w-30P{width: 30%;}
.w-40P{width: 40%;}
.w-45P{width: 45%;}
.w-50P{width: 50%;}
.w-60P{width: 60%;}
.w-65P{width: 65%;}
.w-70P{width: 70%;}
.w-80P{width: 80%;}
.w-85P{width: 85%;}
.w-90P{width: 90%;}
.w-100P{width: 100%;}

.w-2rem{width: 2rem;}
.w-3rem{width: 3rem;}
.w-4rem{width: 4rem;}
.w-5rem{width: 5rem;}
.w-7rem{width: 7rem;}



.pleft-3{padding-left: 3rem;}
.pleft-2{padding-left: 2rem;}

.h3rem{height: 3rem;}
.h-100P{height: 100%;}


.mNone{margin: none;}
.mr-04{margin-right: 0.4rem}
.ml-04{margin-left: 0.4rem;}



.mtop-02{margin-top: 0.2rem;}
.mtop-03{margin-top: 0.3rem;}
.mtop-05{margin-top: 0.5rem;}
.mtop-1{margin-top: 1rem;}

.mbottom-05{margin-bottom: 0.5rem;}
.mbottom-1{margin-bottom: 1rem;}
.mbottom-2{margin-bottom: 2rem;}
.mbottom-3{margin-bottom: 3rem;}
.mbottom-4{margin-bottom: 4rem;}
.mbottom-5{margin-bottom: 5rem;}


.mright-03{margin-right: 0.3rem;}
.mright-05{margin-right: 0.5rem;}
.mright-1{margin-right: 1rem;}
.mright-12{margin-right: 1.2rem;}
.mright-15{margin-right: 1.5rem;}
.mright-2{margin-right: 2rem;}
.mright-3{margin-right: 3rem;}
.mright-4{margin-right: 4rem;}
.mright-6{margin-right: 6rem;}
.mright-10{margin-right: 10rem;}


.mleft-03{margin-left: 0.3rem;}
.mleft-05{margin-left: 0.5rem;}
.mleft-1{margin-left: 1rem;}
.mleft-12{margin-left: 1.2rem;}
.mleft-15{margin-left: 1.5rem;}
.mleft-2{margin-left: 2rem;}
.mleft-3{margin-left: 3rem;}
.mleft-4{margin-left: 4rem;}
.mleft-6{margin-left: 6rem;}
.mleft-10{margin-left: 10rem;}


.font12{font-size: 12px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font16Im{font-size: 16px!important;}
.font20{font-size: 20px;}
.font25{font-size: 25px;}
.font30{font-size: 30px;}
.font35{font-size: 35px;}

.fontBold{font-weight: bold;}

.searchBalloon
 {
 z-index:100;
 position: absolute;
 height: auto;
 padding: 10px 10px 10px 10px;
 background: #FFFFFF;
 border-radius: 5px;
 border: #BFBFDA solid 1px;
 font-size: 16px;
 text-align: left;
 top: 170px;
 right: 0rem;
 min-height: 300px;
  box-shadow: rgb(0 0 0 / 12%) 0px 0px 9px 0px;;
 }

 .searchBalloon:after
 {
 content: '';
 position: absolute;
 border-style: solid;
 border-width: 0 10px 15px 10px;
 border-color: #FFFFFF transparent;
 display: block;
 width: 0;
 z-index: 1;
 top: -13.5px;
 left: 350px;
 }

 .searchBalloon:before
 {
 content: '';
 position: absolute;
 border-style: solid;
 border-width: 0 10px 15px 10px;
 border-color: #BFBFDA transparent;
 display: block;
 width: 0;
 z-index: 0;
 top: -15px;
 left: 350px;
 }


.listSearchBtnWrap{margin-left: 1rem;}
.listSearchBtnWrap p {color:#000000; cursor: pointer; font-size: 14px; float: left;}
.searchFilterWrap{max-width: 310px; float: right;}